#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up",new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application"
		%p.name -Ishwar Kumar

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p lets write what you have in mind

			.callout
				%h2 story
				%p a never endong story

			.callout
				%h2 Blog
				%p why not write a blog

#bottom_cta
	.wrapper
		%h2 For Realz!!
		%p I want you to sign up... If you don't I will find you!
		%button= link_to "Click Meeee!!",new_user_registration_path

%footer
	%p &copy; Ishwar Kumar